<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <ul class="nav nav-tabs">
                    <li class="active">
                        <a data-toggle="tab" href="#home">User</a>
                    </li>
                    <li>
                        <a data-toggle="tab" href="#menu1">Broker</a>
                    </li>

                </ul>
            </div>
        </div>
        <div class="tab-content">
            <div id="home" class="tab-pane fade in active">
                <div class="row">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-body">
                                <div>
                                    <h3 class="card-title ptile">Current Wallet Balance:</h3>
                                   
                                </div>

                            </div>
                            <div class="card-footer">
                                <div class="stats sts">
                                    <div>

                                        <span class="eth">529,434.78</span>
                                        <br/>
                                        <span class="fa-meta">ETH IN META MASK</span>
                                    </div>
                                    <div class="fa-valusd">

                                        <span class="eth">529,434.78</span>
                                        <br/>
                                        <span class="fa-meta">VALUE IN USD</span>
                                    </div>
                                    <div class="fa-valusd">

                                        <span class="eth clo">529,434.33</span>
                                        <br/>
                                        <span class="fa-meta clo">ETH IN META MASK</span>
                                    </div>
                                </div>


                            </div>

                        </div>
                    </div>
                </div>
                <div class="row rw">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-body">
                                <div> 
                                    <h3 class="card-title ptile">Tender Created
                                        <span class="btn-nodr">
                                          <button class="btn-btncol">+ New Tender</button>  
                                        </span>
                                    </h3>
                                  
                                        
                                  
                                </div>
                            </div>
                            <div class="card-footer">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th>
                                                Name
                                            </th>

                                            <th>
                                                Start Date
                                            </th>
                                            <th>
                                                Start Price
                                            </th>
                                            <th>
                                                Strike Price
                                            </th>
                                            <th>
                                                Current Value
                                            </th>

                                            <th>

                                                Expiry Date
                                            </th>

                                            <th>
                                                Number Of Bets
                                            </th>


                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>
                                                ETH
                                            </td>
                                            <td>
                                                20/01/2018
                                            </td>
                                            <td>
                                                530,000
                                            </td>
                                            <td>
                                                550,000
                                            </td>
                                            <td>
                                                545,000
                                            </td>
                                            <td>
                                                29/01/2018
                                            </td>
                                            <td>
                                                <span class="clo">
                                                    24
                                                </span>
                                                <span>
                                                    <i class="fa fa-caret-up" style="padding: 2px;font-size:25px;color: #7ED321;"></i>
                                                </span>
                                                <span class="recol">
                                                    36
                                                </span>
                                                <span>
                                                    <i class="fa fa-caret-down" style="padding: 2px;font-size:25px;color: #D0021B"></i>
                                                </span>
                                            </td>

                                        </tr>
                                        <tr>
                                            <td>
                                                ETH
                                            </td>
                                            <td>
                                                20/01/2018
                                            </td>
                                            <td>
                                                530,000
                                            </td>
                                            <td>
                                                550,000
                                            </td>
                                            <td>
                                                545,000
                                            </td>
                                            <td>
                                                29/01/2018
                                            </td>
                                            <td>
                                                <span class="clo">
                                                    24
                                                </span>
                                                <span>
                                                    <i class="fa fa-caret-up" style="padding: 2px;font-size:25px;color: #7ED321;"></i>
                                                </span>
                                                <span class="recol">
                                                    36
                                                </span>
                                                <span>
                                                    <i class="fa fa-caret-down" style="padding: 2px;font-size:25px;color: #D0021B"></i>
                                                </span>
                                            </td>

                                        </tr>
                                        <tr>
                                            <td>
                                                ETH
                                            </td>
                                            <td>
                                                20/01/2018
                                            </td>
                                            <td>
                                                530,000
                                            </td>
                                            <td>
                                                550,000
                                            </td>
                                            <td>
                                                545,000
                                            </td>
                                            <td>
                                                29/01/2018
                                            </td>
                                            <td>
                                                <span class="clo">
                                                    24
                                                </span>
                                                <span>
                                                    <i class="fa fa-caret-up" style="padding: 2px;font-size:25px;color: #7ED321;"></i>
                                                </span>
                                                <span class="recol">
                                                    36
                                                </span>
                                                <span>
                                                    <i class="fa fa-caret-down" style="padding: 2px;font-size:25px;color: #D0021B"></i>
                                                </span>
                                            </td>

                                        </tr>
                                        <tr class="disbld">
                                            <td>
                                                ETH
                                            </td>
                                            <td>
                                                20/01/2018
                                            </td>
                                            <td>
                                                530,000
                                            </td>
                                            <td>
                                                550,000
                                            </td>
                                            <td>
                                                545,000
                                            </td>
                                            <td>
                                                29/01/2018
                                            </td>
                                            <td>
                                                <span class="disbld">
                                                    24
                                                </span>
                                                <span>
                                                    <i class="fa fa-caret-up" style="padding: 2px;font-size:25px"></i>
                                                </span>
                                                <span class="disbld">
                                                    36
                                                </span>
                                                <span>
                                                    <i class="fa fa-caret-down" style="padding: 2px;font-size:25px;"></i>
                                                </span>
                                            </td>

                                        </tr>
                                        <tr>
                                            <td>
                                                ETH
                                            </td>
                                            <td>
                                                20/01/2018
                                            </td>
                                            <td>
                                                530,000
                                            </td>
                                            <td>
                                                550,000
                                            </td>
                                            <td>
                                                545,000
                                            </td>
                                            <td>
                                                29/01/2018
                                            </td>
                                            <td>
                                                <span class="clo">
                                                    24
                                                </span>
                                                <span>
                                                    <i class="fa fa-caret-up" style="padding: 2px;font-size:25px;color: #7ED321;"></i>
                                                </span>
                                                <span class="recol">
                                                    36
                                                </span>
                                                <span>
                                                    <i class="fa fa-caret-down" style="padding: 2px;font-size:25px;color: #D0021B"></i>
                                                </span>
                                            </td>

                                        </tr>
                                        <tr>
                                            <td>
                                                ETH
                                            </td>
                                            <td>
                                                20/01/2018
                                            </td>
                                            <td>
                                                530,000
                                            </td>
                                            <td>
                                                550,000
                                            </td>
                                            <td>
                                                545,000
                                            </td>
                                            <td>
                                                29/01/2018
                                            </td>
                                            <td>
                                                <span class="clo">
                                                    24
                                                </span>
                                                <span>
                                                    <i class="fa fa-caret-up" style="padding: 2px;font-size:25px;color: #7ED321;"></i>
                                                </span>
                                                <span class="recol">
                                                    36
                                                </span>
                                                <span>
                                                    <i class="fa fa-caret-down" style="padding: 2px;font-size:25px;color: #D0021B"></i>
                                                </span>
                                            </td>

                                        </tr>
                                        <tr class="disbld">
                                            <td>
                                                ETH
                                            </td>
                                            <td>
                                                20/01/2018
                                            </td>
                                            <td>
                                                530,000
                                            </td>
                                            <td>
                                                550,000
                                            </td>
                                            <td>
                                                545,000
                                            </td>
                                            <td>
                                                29/01/2018
                                            </td>
                                            <td>
                                                <span class="disbld">
                                                    24
                                                </span>
                                                <span>
                                                    <i class="fa fa-caret-up" style="padding: 2px;font-size:25px;"></i>
                                                </span>
                                                <span class="disbld">
                                                    36
                                                </span>
                                                <span>
                                                    <i class="fa fa-caret-down" style="padding: 2px;font-size:25px"></i>
                                                </span>
                                            </td>

                                        </tr>
                                        <tr>
                                            <td>
                                                ETH
                                            </td>
                                            <td>
                                                20/01/2018
                                            </td>
                                            <td>
                                                530,000
                                            </td>
                                            <td>
                                                550,000
                                            </td>
                                            <td>
                                                545,000
                                            </td>
                                            <td>
                                                29/01/2018
                                            </td>
                                            <td>
                                                <span class="clo">
                                                    24
                                                </span>
                                                <span>
                                                    <i class="fa fa-caret-up" style="padding: 2px;font-size:25px;color: #7ED321;"></i>
                                                </span>
                                                <span class="recol">
                                                    36
                                                </span>
                                                <span>
                                                    <i class="fa fa-caret-down" style="padding: 2px;font-size:25px;color: #D0021B"></i>

                                                </span>
                                            </td>

                                        </tr>

                                    </tbody>
                                </table>


                            </div>

                        </div>
                    </div>
                </div>

            </div>
            <div id="menu1" class="tab-pane fade">
              Hey this Content for next Tab...
             
            </div>
        </div>
    </div>


</div>