<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-body">
                        <div>
                            <h3 class="card-title ptile">Current Wallet Balance:</h3>
                        </div>

                    </div>
                    <div class="card-footer">
                        <div class="stats sts">
                            <div>
                                <i class="fa cur">&#xf156;</i>&nbsp;
                                <span class="eth">529,434.78</span>
                                <br/>
                                <span class="fa-meta">ETH IN META MASK</span>
                            </div>
                            <div class="fa-valusd">
                                <i class="fa cur">&#xf156;</i>&nbsp;
                                <span class="eth">529,434.78</span>
                                <br/>
                                <span class="fa-meta">VALUE IN USD</span>
                            </div>
                        </div>

                    </div>
                    <div class="card-footer">
                        <h4 class="card-title ptile">Other Tokens In Wallet:</h4>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 tble">
                <div class="col-md-1">
                    Name
                </div>
                <div class="col-md-2">
                    Balance
                </div>
                <div class="col-md-2">
                    Price in USD
                </div>
                <div class="col-md-1 hr-tagin">
                    &nbsp;
                </div>
                <div class="col-md-1">
                    Name
                </div>
                <div class="col-md-2">
                    Balance
                </div>
                <div class="col-md-2">
                    Price in USD
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-6 tble-hr">
                                <table class="table">
                                    <tbody>
                                        <tr>
                                            <td>
                                                ETH
                                            </td>
                                            <td>
                                                523,456.89
                                            </td>
                                            <td>
                                                75,5285.78
                                            </td>

                                        </tr>

                                        <tr>
                                            <td>
                                                ETH
                                            </td>
                                            <td>
                                                523,456.89
                                            </td>
                                            <td>
                                                75,5285.78
                                            </td>

                                        </tr>
                                        <tr>
                                            <td>
                                                ETH
                                            </td>
                                            <td>
                                                523,456.89
                                            </td>
                                            <td>
                                                75,5285.78
                                            </td>

                                        </tr>
                                        <tr>
                                            <td>
                                                ETH
                                            </td>
                                            <td>
                                                523,456.89
                                            </td>
                                            <td>
                                                75,5285.78
                                            </td>

                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="col-md-6">
                                <table class="table">
                                    <tbody>
                                        <tr>
                                            <td>
                                                ETH
                                            </td>
                                            <td>
                                                523,456.89
                                            </td>
                                            <td>
                                                75,5285.78
                                            </td>

                                        </tr>

                                        <tr>
                                            <td>
                                                ETH
                                            </td>
                                            <td>
                                                523,456.89
                                            </td>
                                            <td>
                                                75,5285.78
                                            </td>

                                        </tr>
                                        <tr>
                                            <td>
                                                ETH
                                            </td>
                                            <td>
                                                523,456.89
                                            </td>
                                            <td>
                                                75,5285.78
                                            </td>

                                        </tr>
                                        <tr>
                                            <td>
                                                ETH
                                            </td>
                                            <td>
                                                523,456.89
                                            </td>
                                            <td>
                                                75,5285.78
                                            </td>

                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="col-sm-12">

                                <div class="card">
                                    <div class="card-body">
                                        <div>
                                            <h3 class="card-title ptile">Borrowers Address: XTRTWEMKSSSTRRRRRRWE</h3>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-body">
                        <div>
                            <h3 class="card-title ptile">Statistics:</h3>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 tble">
                <div class="col-md-6 tble-hr">
                    Earning From Binary Options
                </div>
                <div class="col-md-6">
                    Earning From Lending/Borrwing Options
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-6 hr-tagin">
                                <table class="table">
                                    <tbody>
                                        <tr>
                                            <td>
                                                Profit: $57147
                                            </td>
                                           

                                        </tr>

                                        <tr>
                                            <td>
                                                Loss: $6756
                                            </td>
                                           

                                        </tr>
                                        <tr>
                                            <td>
                                                Average Earning: $23456777
                                            </td>
                                        

                                        </tr>
                                        
                                    </tbody>
                                </table>
                            </div>
                            <div class="col-md-6">
                                    <table class="table">
                                            <tbody>
                                                <tr>
                                                    <td>
                                                        Profit: $57147
                                                    </td>
                                                   
        
                                                </tr>
        
                                                <tr>
                                                    <td>
                                                        Loss: $6756
                                                    </td>
                                                   
        
                                                </tr>
                                                <tr>
                                                    <td>
                                                        Average Earning: $23456777
                                                    </td>
                                                
        
                                                </tr>
                                                
                                            </tbody>
                                        </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


    </div>